In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [5]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.591777  0.009731 -1.703938 -0.555807
2013-01-02 -0.141324 -1.696303  0.003902  1.566596
2013-01-03 -1.500954 -0.145342  0.702089  0.135629
2013-01-04 -1.392447 -0.566211  0.518216 -0.366198
2013-01-05 -0.612375 -0.842289  0.300767  0.943939
2013-01-06  0.058757  0.903222 -0.634339  0.713707

In [9]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })
   ....: 
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df.head()

                   A         B         C         D
2013-01-01  0.591777  0.009731 -1.703938 -0.555807
2013-01-02 -0.141324 -1.696303  0.003902  1.566596
2013-01-03 -1.500954 -0.145342  0.702089  0.135629
2013-01-04 -1.392447 -0.566211  0.518216 -0.366198
2013-01-05 -0.612375 -0.842289  0.300767  0.943939

In [12]:
df.tail(3)

                   A         B         C         D
2013-01-04 -1.392447 -0.566211  0.518216 -0.366198
2013-01-05 -0.612375 -0.842289  0.300767  0.943939
2013-01-06  0.058757  0.903222 -0.634339  0.713707

In [13]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.499428 -0.389532 -0.135551  0.406311
std    0.829920  0.875684  0.899722  0.815538
min   -1.500954 -1.696303 -1.703938 -0.555807
25%   -1.197429 -0.773270 -0.474779 -0.240741
50%   -0.376849 -0.355776  0.152334  0.424668
75%    0.008737 -0.029037  0.463853  0.886381
max    0.591777  0.903222  0.702089  1.566596

In [19]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.591777   -0.141324   -1.500954   -1.392447   -0.612375    0.058757
B    0.009731   -1.696303   -0.145342   -0.566211   -0.842289    0.903222
C   -1.703938    0.003902    0.702089    0.518216    0.300767   -0.634339
D   -0.555807    1.566596    0.135629   -0.366198    0.943939    0.713707

In [20]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.555807 -1.703938  0.009731  0.591777
2013-01-02  1.566596  0.003902 -1.696303 -0.141324
2013-01-03  0.135629  0.702089 -0.145342 -1.500954
2013-01-04 -0.366198  0.518216 -0.566211 -1.392447
2013-01-05  0.943939  0.300767 -0.842289 -0.612375
2013-01-06  0.713707 -0.634339  0.903222  0.058757

In [21]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-02 -0.141324 -1.696303  0.003902  1.566596
2013-01-05 -0.612375 -0.842289  0.300767  0.943939
2013-01-04 -1.392447 -0.566211  0.518216 -0.366198
2013-01-03 -1.500954 -0.145342  0.702089  0.135629
2013-01-01  0.591777  0.009731 -1.703938 -0.555807
2013-01-06  0.058757  0.903222 -0.634339  0.713707

In [22]:
df['A']

2013-01-01    0.591777
2013-01-02   -0.141324
2013-01-03   -1.500954
2013-01-04   -1.392447
2013-01-05   -0.612375
2013-01-06    0.058757
Freq: D, Name: A, dtype: float64

In [23]:
df[0:3]

                   A         B         C         D
2013-01-01  0.591777  0.009731 -1.703938 -0.555807
2013-01-02 -0.141324 -1.696303  0.003902  1.566596
2013-01-03 -1.500954 -0.145342  0.702089  0.135629

In [24]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.141324 -1.696303  0.003902  1.566596
2013-01-03 -1.500954 -0.145342  0.702089  0.135629
2013-01-04 -1.392447 -0.566211  0.518216 -0.366198

In [26]:
df.loc[dates[0]]

A    0.591777
B    0.009731
C   -1.703938
D   -0.555807
Name: 2013-01-01 00:00:00, dtype: float64

In [27]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.591777  0.009731
2013-01-02 -0.141324 -1.696303
2013-01-03 -1.500954 -0.145342
2013-01-04 -1.392447 -0.566211
2013-01-05 -0.612375 -0.842289
2013-01-06  0.058757  0.903222

In [28]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -0.141324 -1.696303
2013-01-03 -1.500954 -0.145342
2013-01-04 -1.392447 -0.566211

In [29]:
df.loc['20130102',['A','B']]

A   -0.141324
B   -1.696303
Name: 2013-01-02 00:00:00, dtype: float64

In [30]:
df.loc[dates[0],'A']

0.59177745645780333

In [31]:
df.at[dates[0],'A']

0.59177745645780333

In [32]:
df.iloc[3]

A   -1.392447
B   -0.566211
C    0.518216
D   -0.366198
Name: 2013-01-04 00:00:00, dtype: float64

In [33]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -1.392447 -0.566211
2013-01-05 -0.612375 -0.842289

In [34]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -0.141324  0.003902
2013-01-03 -1.500954  0.702089
2013-01-05 -0.612375  0.300767

In [35]:
df.iloc[1,1]

-1.6963033698835064